

.logo{
    position: fixed;
    left: 30px;
    top: 57px;
    z-index: 999;
    display: flex;
}

.logo >div {
    margin-right :10px;
}

.left_icon{
    position: fixed;
    left: 30px;
    top: 379px;
    z-index: 999;
}

.left_icon > div{
    margin-bottom: 16px;
}

.left_nav{
    position: fixed;
    left: 30px;
    top: 791px;
    z-index: 999;
}

.left_nav > div{
    margin-bottom: 17px;
}
.shop_icon{
    position: fixed;
    right: 33px;
    top: 57px;
    z-index: 999;
}

.scroll{
    position: fixed;
    right: 33px;
    top: 482px;
    z-index: 999;
}

.rotate_icon{
    position: fixed;
    right: 46px;
    top: 760px;
    z-index: 999;

}

.rotate_icon > div:nth-child(1) {
    position: absolute;
    right: 177px;
}

.rotate_icon > div:nth-child(2) {
   position: absolute;
    right:227px;
    top:45px;
}


#section01{
    width: 100vw;
    background: url("../img/section01/bg_img.png") no-repeat center;
    background-size: cover;
}

#section01 .txt_container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

#section01 .txt_container > div:nth-child(1) {
    margin-bottom: 26px;
}
#section01 .txt_container > div:nth-child(2) {
    margin-bottom: 26px;
}



#section02{
    width: 3672px;
    background: #0c040c;
}

#section02 .line{
    position: absolute;
    left: 0;
    top: 0;
}

#section02 .txt_container {
    width: 1410px;
    height: 425px;
    position: absolute;
    left: 465px;
    top: 277px;
}

#section02 .txt_container .left_txt{
    position: absolute;
    left: 0;
    top: 0;
    text-align: left;
}
#section02 .txt_container .left_txt > div:nth-child(1) {
    margin-bottom:  31px;
    transform: translateX(-30px);
    opacity: 0;
    transition: all .5s;
}
#section02.on .txt_container .left_txt > div:nth-child(1) {
    transform: translateX(0);
    opacity: 1;
}

#section02 .txt_container .left_txt > div:nth-child(2) {
    margin-bottom:  51px;
}
#section02 .txt_container .left_txt > div:nth-child(3) {
    margin-bottom:  38px;
}
#section02 .txt_container .left_txt > div:nth-child(4) {
    margin-left:  208px;
}


#section02 .txt_container .right_txt{
    position: absolute;
    right: 0;
    top: 0;
    text-align: right;
}
#section02 .txt_container .right_txt > div:nth-child(1) {
    margin-right:  71px;
    margin-bottom:  110px;
}
#section02 .txt_container .right_txt > div:nth-child(2) {
    margin-bottom:  12px;
    margin-right:  208px;
}
#section02 .txt_container .right_txt > div:nth-child(3) {
    margin-bottom:  28px;
}
#section02 .txt_container .right_txt > div:nth-child(4) {
    margin-right:  244px;
    margin-bottom:  12px;
}
#section02 .txt_container .right_txt > div:nth-child(5) {
    margin-right:  77px;
}

#section02 .img{
    width: 1585px;
    height: 980px;
    position: absolute;
    text-align: right;
    right: 0;
    top: 0;
}
#section02 .img > div:nth-child(1) {
}
#section02 .img > div:nth-child(2) {
    position: absolute;
    left:0;
    top:206px;
}



#section03{
    width: 3253px;
    background: white;

}

#section03 .line_mini{
    position: absolute;
    left: 203px;
    top: 0;
}

#section03 .bg {
    margin-left:205px;
}


#section03 .txt_container {
    position: absolute;
    width: 2051px;
    height:557px;
    left:482px;
    top: 278px;
}

#section03 .txt_container .txt_left{
    position: absolute;
    left: 0;
    top: 0;
    text-align: left;
}
#section03 .txt_container .txt_left > div:nth-child(1) {
    margin-bottom:  31px;
}
#section03 .txt_container .txt_left > div:nth-child(2) {
    margin-bottom:  47px;
}
#section03 .txt_container .txt_left > div:nth-child(3) {
    margin-bottom:  37px;
}
#section03 .txt_container .txt_left > div:nth-child(4) {
    margin-left:  149px;
}


#section03 .txt_container .txt_right{
    position: absolute;
    right: 0;
    top: 98px;
    text-align: right;
}

#section03 .txt_container .txt_right > div:nth-child(1) {
    margin-right:  177px;
    margin-bottom:  47px;
}
#section03 .txt_container .txt_right > div:nth-child(2) {
    margin-bottom:  16px;
    margin-right: 356px;
}
#section03 .txt_container .txt_right > div:nth-child(3) {
    margin-bottom:  34px;
}
#section03 .txt_container .txt_right > div:nth-child(4) {
    margin-right: 47px;
}



#section03 .img_line{
    position: absolute;
    top: 0;
    right:0;
}

#section03 .img_line > div:nth-child(1) {
    margin-right: 157px;

}
#section03 .img_line > div:nth-child(2) {
    position: absolute;
    top: 206px;
    right:0;
}




#section04{
    width: 5608px;
    background: white;
}

#section04 .img {
    position: absolute;
    left: 331px;
    top:88px;

}

#section04 .img02{
    width: 3108px;
    height: 980px;
    top:0;
    margin-left:1865px;
    display:flex;
    justify-content: space-between;
}

#section04 .img02 .s_01 {

}

#section04 .img02 .s_01 > div:nth-child(1) {
    margin-bottom:  56px;
}
#section04 .img02 .s_01 > div:nth-child(2) {
    margin-bottom: 19px;
}
#section04 .img02 .s_01 > div:nth-child(3) {
    margin-right: 73px;
    display: inline-block;
}
#section04 .img02 .s_01 > div:nth-child(4) {
display: inline-block;
}

#section04 .img02 .s_02 {
    margin-top : 127px;
}

#section04 .img02 .s_02 > div:nth-child(1) {
    margin-bottom: 19px;
}
#section04 .img02 .s_02 > div:nth-child(2) {
    margin-right: 73px;
    display: inline-block;

}
#section04 .img02 .s_02 > div:nth-child(3) {
    display: inline-block;
    margin-bottom: 91px;
}
#section04 .img02 .s_02 > div:nth-child(4) {

}

#section04 .img02 .s_03 {

}

#section04 .img02 .s_03 > div:nth-child(1) {
    margin-bottom:  56px;
}
#section04 .img02 .s_03 > div:nth-child(2) {
    margin-bottom: 19px;
    margin-right: 73px;
}
#section04 .img02 .s_03 > div:nth-child(3) {
    margin-right: 73px;
    display: inline-block;
}
#section04 .img02 .s_03 > div:nth-child(4) {
    display: inline-block;
}

#section04 .img02 .s_04 {
    margin-top : 127px;
}

#section04 .img02 .s_04 > div:nth-child(1) {
    margin-bottom: 19px;
}
#section04 .img02 .s_04 > div:nth-child(2) {
    margin-right: 73px;
    display: inline-block;

}
#section04 .img02 .s_04 > div:nth-child(3) {
    display: inline-block;
    margin-bottom: 91px;
}
#section04 .img02 .s_04 > div:nth-child(4) {

}


#section04 .last {
    width:252px;
    height:980px;
    position: absolute;
    right: 0;
    top: 0;
    text-align: right;
}

#section04 .last > div:nth-child(1) {
     margin-right: 250px;
}

#section04 .line{
    position: absolute;
    right: 0;
    top: 0;
}



#section05{
    width: 5424px;
    background: #f3f5f2;
}

#section05 .bg_logo {
    top:0;
    left:0;
    position: absolute;
}

#section05 .bg_logo > div:nth-child(1) {
    position: absolute;
   margin-left: 186px;
    top: 796px;
}

#section05 .bg_logo > div:nth-child(2) {
    position: absolute;
    margin-left: 1361px;
    top: 320px;
}


#section05 .typo {
    position: absolute;
    width: 1207px;
    height: 552px;
    top: 278px;
    left: 309px;
}

#section05 .typo .left_typo {
    position: absolute;
    top:0;
    left:0;
    text-align: left;
}

#section05 .typo .left_typo > div:nth-child(1) {
  margin-bottom :31px;
}
#section05 .typo .left_typo > div:nth-child(2) {
    margin-bottom :51px;
}
#section05 .typo .left_typo > div:nth-child(3) {
    margin-bottom :143px;
}
#section05 .typo .left_typo > div:nth-child(4) {
margin-left:120px;
}

#section05 .typo .right_typo {
    position: absolute;
    top: 281px;
    right: 0;
    text-align: right;
}

#section05 .typo .right_typo > div:nth-child(1) {
    margin-bottom :16px;
    margin-right:392px;
}
#section05 .typo .right_typo > div:nth-child(2) {
    margin-bottom :27px;
}

#section05 .typo .right_typo > div:nth-child(3) {

}

#section05 .store {
    position: absolute;
    width: 1098px;
    height: 504px;
    top: 225px;
    left: 1863px;
    display:flex;
    justify-content: space-between;
}

#section05 .store .store01 > div:nth-child(1) {
    margin-bottom :23px;
}
#section05 .store .store01 > div:nth-child(2) {
    margin-bottom :14px;
}

#section05 .store .store01 > div:nth-child(3) {
    margin-bottom :34px;
}
#section05 .store .store01 > div:nth-child(4) {

}

#section05 .store .store02 > div:nth-child(1) {
    margin-bottom :23px;
}
#section05 .store .store02 > div:nth-child(2) {
    margin-bottom :14px;
}

#section05 .store .store02 > div:nth-child(3) {
    margin-bottom :34px;
}
#section05 .store .store02 > div:nth-child(4) {

}

#section05 .store .store03 > div:nth-child(1) {
    margin-bottom :23px;
}
#section05 .store .store03 > div:nth-child(2) {
    margin-bottom :14px;
}

#section05 .store .store03 > div:nth-child(3) {
    margin-bottom :34px;
}
#section05 .store .store03 > div:nth-child(4) {

}

#section05 .img {
    position: absolute;
    width: 1543px;
    height: 980px;
    top: 0;
    left: 3326px;
    display:flex;
    justify-content: space-between;
}

#section05 .img .img01 > div:nth-child(1) {

}
#section05 .img .img02 > div:nth-child(1) {

}
#section05 .img .img03 > div:nth-child(1) {

}


#section06{
    width: 2113px;
    background: #f3f5f2;
}

#section06 .img{
    width: 1812px;
    height: 980px;
    position: absolute;
    text-align: left;
    left: 0;
    top: 0;
    display: flex;
}
#section06 .img > div:nth-child(1) {
    margin-left:317px;
}
#section06 .img > div:nth-child(2) {
    position: absolute;
    margin-left:177px;
}
#section06 .img > div:nth-child(3) {
    position: absolute;
    left:0;
    top:206px;
}

#section06 .typo{
    width: 141px;
    height: 980px;
    position: absolute;
    left: 1877px;
    top: 0;
    display: flex;
}

#section06 .typo > div:nth-child(1) {
    margin-right:54px;
}
#section06 .typo > div:nth-child(2) {
}


#section07{
    width: 1814px;
    background: black;
    display: flex;
}


#section07 .box {
    width: 1814px;
    height:100px;    
    background-color: white;
    position:absolute;
    left:0;
    bottom: 0;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

#section07 .box > div:nth-child(1) {
    margin-left:120px;

}
#section07 .box  > div:nth-child(2) {
    margin-right:121px;
}

#section07 .text {
    width: 913px;
    height:243px;
    top: 277px;
    left: 218px;
    position: absolute;
}
#section07 .text > div:nth-child(1) {
    margin-bottom:32px;
}
#section07 .text  > div:nth-child(2) {
    margin-bottom:51px;
}
#section07 .text  > div:nth-child(3) {

}

#section07 .location {
    width: 846px;
    height:164px;
    top: 611px;
    left: 655px;
    position: absolute;
    display: flex;
    justify-content: space-between;
}
#section07 .text > div:nth-child(1) {
}
#section07 .text  > div:nth-child(2) {
}
#section07 .text  > div:nth-child(3) {
}

#section07 .icon {
    width: 277px;
    height:305px;
    top: 527px;
    left: 1417px;
    position: absolute;
}
#section07 .icon > div:nth-child(1) {
    margin-bottom:250px;
}
#section07 .icon  > div:nth-child(2) {
    margin-left:223px;
}


#section08{
    width: 1930px;
    background: black;
    display: flex;
}
#section08 .text01 {
    width: 469px;
    height:520px;
    top: 240px;
    left: 183px;
    position: absolute;
}
#section08 .text01 > div:nth-child(1) {
    margin-bottom: 156px;
}
#section08 .text01  > div:nth-child(2) {

}
#section08 .text01  > div:nth-child(3) {
    position: absolute;
    top : 358px;
    left:126px;
}

#section08 .text02 {
    width: 455px;
    height:496px;
    top: 245px;
    left: 783px;
    position: absolute;
}
#section08 .text02 > div:nth-child(1) {
    margin-bottom: 46px;
}
#section08 .text02  > div:nth-child(2) {
    margin-bottom: 92px;
}
#section08 .text02  > div:nth-child(3) {
    margin-bottom: 21px;
}
#section08 .text02 > div:nth-child(4) {
    margin-bottom: 36px;
}
#section08 .text02  > div:nth-child(5) {
    margin-bottom: 21px;
}
#section08 .text02  > div:nth-child(6) {
}

#section08 .text03 {
    width: 210px;
    height:163px;
    top: 500px;
    left: 1373px;
    background-color: red;
    position: absolute;
}
#section08 .text03 > div:nth-child(1) {
    margin-bottom: 28px;
}
#section08 .text03  > div:nth-child(2) {
    margin-right:18px;
}
#section08 .text03  > div:nth-child(3) {
}
#section08 .text03 > div:nth-child(4) {
}
#section08 .text03  > div:nth-child(5) {
}
#section08 .text03 > div:nth-child(6) {
}
#section08 .text03 > div:nth-child(7) {
}



#section08 .box {
    width: 266px;
    height:980px;
    margin-left: 1665px;
    background-color: white;
    position: absolute;
}

#section08 .box > div:nth-child(1) {
    margin-top:57px;
    margin-left:74px;
    margin-bottom:234px;
}
#section08 .box  > div:nth-child(2) {
    margin-left:125px;
    margin-bottom:27px;
}
#section08 .box  > div:nth-child(3) {
    margin-left:125px;
    margin-bottom:147px;
}
#section08 .box > div:nth-child(4) {
    margin-left:47px;
}
#section08 .box  > div:nth-child(5) {
    margin-left:61px;
    top:764px;
    position: absolute;
}
#section08 .box > div:nth-child(6) {
    margin-left:114px;
    top:802px;
    position: absolute;
}





